.metadata/.plugins/org.eclipse.core.resources/.history/11/c0a04f21619a0015189bbc6cbc99d983
*.lock
.metadata/.log
.metadata/.plugins/org.eclipse.core.resources/.history/19/607ec5a46c9a001512b1d7b75240e2f4
.metadata/.plugins/org.eclipse.core.resources/.history/a5/30afd3a46c9a001512b1d7b75240e2f4
*.dat
.metadata/.plugins/org.eclipse.core.resources/.projects/MagicBBus/.indexes/history.index
*.index
.metadata/.plugins/org.eclipse.core.resources/.history/e2/205e57a56c9a001512b1d7b75240e2f4
.metadata/.plugins/org.eclipse.core.resources/.history/9c/00f7f2a46c9a001512b1d7b75240e2f4
*.1
.metadata/.plugins/org.eclipse.core.resources/.history/e6/8097b9a46c9a001512b1d7b75240e2f4
*.resources
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
*.prefs
.metadata/.plugins/org.eclipse.ui.ide/dialog_settings.xml
*.xmi
.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
.metadata/.plugins/org.rodinp.core/save-1
*.ini
ProjetRodin/.project